<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    @Html.ActionLink("🌈 Connection Checker", "Index", "Connection", new {area = ""}, new {@class = "navbar-brand"})

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    @Html.ActionLink("Admin Panel", "Index", "AdminPanel", new { area = "" }, new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Add Connection", "CreateConnection", "AdminPanel", new { area = "" }, new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Sign Out", "SignOut", "User", new { area = "" }, new { @class = "nav-link" })
                </li>
            }
            else
            {
                <li class="nav-item">
                    @Html.ActionLink("Login", "Login", "User", new { area = "" }, new { @class = "nav-link" })
                </li>
            }
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="row">
        <div class="col-sm">
            @RenderBody()
        </div>
    </div>
</main>

<footer>
    <div class="footer-copyright text-center py-3">
        @DateTime.Now.Year - Connection checker by Syswow128
    </div>
</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
