@model ConnectionChecker.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    // Check that model has any error message
    if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
    {
     
        // Display error message
        <div class="alert alert-danger" role="alert">
            @Html.ValidationSummary()
        </div>
    }

    <div class="form-group">
        <label for="loginInput">Login:</label>
        @Html.EditorFor(x => x.UserName, new { htmlAttributes = new { @class = "form-control", @id = "loginInput" } })
    </div>

    <div class="form-group">
        <label for="passwordInput">Password:</label>
        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", @id = "passwordInput", @type = "Password" } })
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
}
